html, body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

.navBar {
    width: 100%;  /* i'm assuming full width */
    height: 50px; /* change it to desired width */
    display: inline;
}
.logo {
    display: inline-block;
    max-width: 90px;
    height: auto;
    padding-top: 10px;
    margin-right: 20px;
    padding-right: 50px;
}


.t-icon {
    max-width: 50px;
    height: auto;
}

.check {
max-width: 25px;
position:relative;
}

.left-btn {
    background: white;
    color: #1194e6;
    font-size: 1em;
    font-weight: 100;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-transform:capitalize;
    width: auto;
    margin-left: 1em;
    margin-right: 30px;
    margin-bottom: 1em;

}

.left-btn:hover {
    font-size-adjust: 1.2em;
    font-weight: bold;
}

.left {
    display: auto;
    text-align: center;

}



.text {
			grid-column: 1 / -1;
		}

.overlay-img{
    font-family: 'Raleway', sans-serif;
    color: #f9f9f9;
    font-size: 3em;
    grid-column: 1 / -1;
    text-align: right;

}

.extra-info{
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 30px;

}

.headline{
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    text-align: left;

    padding-top: 30px;
    padding-bottom: 50px;

}



.study-prog .extra-info{
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    padding-bottom: 15px;
}

.overlay-img p {
    margin-top: 0;
    font-size: 0.6em;
    color: #1194e6;
}



.subject-ects {
    color: #1194e6;
}


.objectives {
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    grid-column: 3/-1;
    height: auto;
}
.subject-title{
    margin-top: 50px;
    margin-bottom: 20px;
}

.target-sem h1, .semesterObjectives {
    display:none;
}
.target-sem h1.visible, .semesterObjectives.visible {
    display:block;
}
.filter-sem {
    margin-top: 100px;
grid-column: 1/-1;
    text-align: right;

}

.intro-txt{
    padding-top: 5em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    grid-column: 1 / -1;
    text-align: center;

}


.text1 {
        background-color: none;
}

.text2 {
    background-color: none;
    margin-left: 25em;
    margin-right: 25em;
}

h3{
    color: #2c2c2c;
    font-size: 1em;
    text-align: justify;
    align-content: center;
    font-weight: bolder;
}

.ects {
    color: #1194e6;
    text-align: justify;
    margin: 0;
}

p{
    color: #2c2c2c;
}

#abroad {
     background-image: url(images/abroad.jpg);
    background-size:cover;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    padding: 50px;
    width: 35em;
    height: 320px;
    overflow: hidden;
  transform: translateY(48%);
    z-index: -2;
}

footer{
        background-color: #2c2c2c;
    width: 100%;
        height: 100px;
    grid-area: ft;
       padding-top: 50px;
    z-index: 3;



}

footer a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 200;
    display: block;
    align-content: center;
    text-align: center;
    line-height: 30px;



}


@media (max-width: 900px) {

    #abroad {
     background-image: url(images/abroad.jpg);
    background-size:cover;
    font-family: 'Raleway', sans-serif;
    width: 35em;
    grid-column: 1/3;
    height: 320px;
    position: relative;
    padding: 50px;
    transform: translateY(0%);
}


    .target-sem {
    background-image: url(images/group.jpg);
    background-size:cover;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    grid-column: 1/3;
    max-width: 35em;
    height: 320px;




}



    /*Toggle menu start*/

    #toggle {
  display: absolute;
  width: 28px;
  margin: 20px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #2c2c2c;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  color: #999;
  width: 90%;
  height: 100vh;
  margin: 0;
    margin-top: 60px;
  font-family: 'Raleway', sans-serif;
    font-size: 1em;
  text-align: left;
  background: white;
  opacity: 0;
  visibility: hidden;
}
#menu:after {
  position: absolute;
  left: 0px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

    .navBar .logo {
        display: none;
        padding: 0;
        margin: 0;
    }

.navBar a {
            background-color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 0.6em;
list-style: none;
    display: block;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1em;
  padding: 10px;
  color: #2c2c2c;
  text-decoration: none;
}
.navBar a:hover,
.navBar a:focus {
  border-top: 2px solid #f8f8f8;
}

/*toggle menu*/

.prog-descr{
    font-family: 'Raleway', sans-serif;
    color: #2a2a2a;
    display: grid;
    grid-area: h2;
    font-size: 1em;
    font-weight:400;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 30px;
    padding-right: 30px;


}

    .text2 {
    background-color: none;
    margin-left: 30px;
    margin-right: 30px;
}


    .objectives {
    margin-top:  0px;
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    grid-column: 3/-1;
    height: auto;
}

}

@media (min-width: 900px) {
    main {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas:
                    "hd  hd hd hd"
                    "ul ul ul ul"
                    "h2 h2 h2 h2"
                    "sec sec sec sec"
                    "teach teach teach teach"
                    "ft ft ft ft";

}

    h2 {
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .target-sem {
    background-image: url(images/group.jpg);

    background-size:cover;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    grid-column: 1/3;
    max-width: 35em;
    height: 320px;
position: fixed;
    overflow: hidden;
  transform: translateY(43%);
        z-index: 0;

}

    .study-prog {
/*        AMALIA  */
    display: grid;
    grid-area: sec;
     grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    /*       END AMALIA  */
        padding: 30px 30px 30px 30px;
            border-radius: .5em;
		height: auto;
		justify-content: center;

		}

.prog-descr{
    font-family: 'Raleway', sans-serif;
    color: #2a2a2a;
    display: grid;
    grid-area: h2;
    font-size: 1em;
    font-weight:400;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 280px;
    padding-right: 280px;


}

    .navBar a {

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #2a2a2a;
    font-size: 1em;
    display: inline-block;
    margin-right: 20px;
       margin-left: 20px;
    vertical-align: top;

    line-height: 50px;    /* if you want it vertically middle of the navbar */
}
    .navBar a:hover,
.navBar a:focus {
  border-top: 2px solid #f8f8f8;
}
}

.active {
    border-top: 2px solid #2c2c2c;
}

.active-filter {
    font-weight: bold;
}

header {

        display: grid;
        grid-area: hd;
		height: 45px;
        padding: 1.5em;
        background-color: white;
    position: relative;
    width: 100%;
}


.intro {
        background-image: url(images/header2.jpg);
        background-size: cover;

        display: grid;
        grid-area: ul;
        height: 400px;
        width: 100%;


}





#teaching {
    background-color: #f8f8f8;
    display: grid;
    grid-area: teach;
    padding-bottom: 50px;
    padding-top: 20px;

}

.semester {
background-image: url(images/header2.jpg);
}

article {
    font-family: 'Raleway', sans-serif;
        color: #fff;
        display: grid;
        align-content: center;
        justify-content: center;
        text-align: center;
/*    AMALIA*/
    padding: 1em 1em 1em 1em;
    /*    END AMALIA*/

		}

    .teach{

		display: grid;
		grid-gap: 5px;
        margin: 30px 30px 30px;;
		grid-template-columns: repeat(1, 1fr);
		/* grid-template-columns: repeat(auto-fill, 200px); */
		grid-auto-rows: 1fr;
        background-color: white;


}

.teach-p {
    font-size: 1em;
    text-align: justify;
    font-family: 'Raleway', sans-serif;

}




